<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/cake.css">
</head>
<body>
    <header>
        <h1>Cake Order</h1>
    </header>

    <main>

        <cake class="rotate tiny_cake" >
            <img src="img/cupcake.png" alt="Cupcake" width="250" height="250">
        </cake>

        <login>
            <form action="/login">
                <label for="login">Login</label>
                <input id="login" type="text" name="login"/>
                <label for="password">Password</label>
                <input id="password" name="password" type="password"/>
                <input type="submit" value="login"/>
            </form>
        </login>
    </main>

    <footer>
        <p>&copy; Zuckerb&auml;cker GmbH</p>
    </footer>
    
</body>
</html>