<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/cake.css">
</head>
<body>
    <header>
        <h1>Cake Order</h1>
        <nav>
            <div th:each="cake, itemStat : *{cakes}" th:id="'cake' + ${cake.cakeId.id}">
                <a th:href="'#cake' + ${cake.cakeId.id}" th:inline="text" >[[${cake.name}]]</a>
            </div>
        </nav>

        <!--nav>
            <a href="#cake1">Apple</a>
            <a href="#cake2">Marble</a>
            <a href="#cake3">Rainbow</a>
        </nav-->
    </header>

    <form class="logoutLblPos" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>


    <welcome>
        <span class="nowrap">Hello <span class="bold">[[${username}]]</span> nice to see you!</span>
    </welcome>


    <main>
        <form action="#" method="post">
        <article th:each="cake, itemStat : *{cakes}" th:id="'cake' + ${cake.cakeId.id}" class="card">
            <figure>
                <img th:src="${cake.picture}" th:alt="${cake.name}" width="250" height="250">
                <figcaption th:inline="text">[[${cake.name}]]</figcaption>
                <p th:inline="text">[[${cake.description}]]</p>
                <input type="submit" th:formaction="'/order/cake/'+${cake.cakeId.id}" value="Order Cake!"/>
            </figure>
        </article>
        </form>

        <!--article id="cake1" class="card">
            <figure>
                <img src="img/apple.png" alt="Apple Pie" width="250" height="250">
                <figcaption>Apple Pie</figcaption>
                <p>
                    Hmm yummy
                </p>
                <input type="submit" value="Order Cake!"/>
            </figure>
        </article>
        <article id="cake2" class="card">
            <figure>
                <img src="img/marble.png" alt="Marble Cake" width="250" height="250">
                <figcaption>Marble Cake</figcaption>
                <p>
                    With rum ... get drunk
                </p>
                <input type="submit" value="Order Cake!"/>
            </figure>
        </article>
        <article id="cake3" class="card">
            <figure>
                <img src="img/rainbow.png" alt="Rainbow Cake" width="250" height="250">
                <figcaption>Rainbow Cake</figcaption>
                <p>
                    Uniquehorns favourite!
                </p>
                <input type="submit" value="Order Cake!"/>
            </figure>
        </article-->
    </main>

    <footer>
        <p>&copy; Zuckerb&auml;cker GmbH</p>
    </footer>
    
</body>
</html>