<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/cake.css}">
</head>
<body>
    <header>
        <h1>Cake Order</h1>
    </header>

    <main>
        <article id="cake1" class="card">
            <figure>
                <img src="img/apple.png" alt="Apple Pie" width="250" height="250">
                <figcaption class="tiny_cake">Order received</figcaption>
                <form class="logoutLblPos" th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </figure>
        </article>
    </main>

    <footer>
        <p>&copy; Zuckerb&auml;cker GmbH</p>
    </footer>
    
</body>
</html>